<link rel="stylesheet" href="/css/checkout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{>header}}
<div style="margin-top:70px"></div>

<div class="container pt-5">

    <h2>Checkout</h2>
    <div class="row main_checkout">
    <div class="col-25-w3">
        <div class="container-w3">
        <form action="/me/checkout" method="post">
        
            <div class="row main_checkout mck">
            <div class="col-50-w3 pt-3">
                <h3>Billing Address</h3>
                <label for="fullname"><i class="fa fa-user"></i> Full Name</label>
                <input type="text" id="fullname" name="fullname" placeholder="John M. Doe">
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" name="email" placeholder="A@example.com">
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" id="adr" name="address" placeholder="542 Phan Van Tri, P11, Q.GoVap">
				<label for="phone"><i class="fa fa-phone"></i> Phone</label>
				<input type="text" id="phone" name="phone" placeholder="phone">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            
            
            </div>
            <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
            </label>
            <input type="submit" value="Continue to checkout" class="btn-w3">
        </form>
        </div>
    </div>
    <div class="col-25-w3">
        <div class="container-w3 pt-4">
        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{session.cart.totalQty}}</b></span></h4>
        {{#each products}}
            <p><span class="text-info">{{this.item.name}}</span> <span>- SL: {{this.qty}}</span> <span class="price text-danger">{{this.price}} đ</span></p>
        {{/each}}
        <hr>
        <p>Total: <span class="price" style="color:black"><b>{{ total }} đ</b></span></p>
        </div>
    </div>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/checkout.js"></script>
{{>footer}}