{{>header}}
<link rel="stylesheet" href="../../css/dashboard.css">
<link rel="stylesheet" href="../../css/edit-profile.css">
<div style="margin-top: 70px;"></div>
<div class="card text-white wrapper_gt1">
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ISbOsd.json"  background="transparent"  speed="0.3"  style="width: 200px; height: 180px; margin: 0 auto;" autoplay loop  ></lottie-player>
    <div class="card-img-overlay wrapper_ite m-5">
        <h5 class="card-title text-center">My Account</h5>
        <nav aria-label="breadcrumb" class="dis_flc">
        <ol class="breadcrumb dis_flcite">
            <li class="breadcrumb-item"><a href="/" class="txt_while">Home</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">My account</li>
        </ol>
        </nav>
    </div>
    </div>
<div class="alert alert-secondary border-radius-0" role="alert">
  <div class="container d-flex justify-content-between">
    <h3 class=""><p class="d-inline text-success">Hello</p> {{ fullname }}</h3>
    <div>
        {{#if roles}}
            <a href="/admin" class="btn btn-outline-secondary">Admin</a>
        {{/if}}
        <a href="/me/logout" class="btn btn-outline-secondary">Logout</a>
    </div>
  </div>
</div>
<div class="" style="margin: 0 60px;">
    <div class="student-profile py-4">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <form method="POST" action="/user/updateProfile/{{user._id}}"  enctype="multipart/form-data">
                <label for="fullname">Tên người dùng:</label>
                <input class="input_text_insert" type="text" value="{{user.fullname}}" id="fullname" name="fullname">

                
                <label for="phone" class="mt-2 d-block mb-1">Số điện thoại:</label>
                <input class="input_text_insert" type="text" value="{{user.phone}}" id="phone" name="phone">

                <label for="email" class="mt-2 d-block mb-1">Email:</label>
                <input class="input_text_insert" type="text" value="{{user.email}}" id="email" name="email">

                <label for="address" class="mt-2 d-block mb-1">Address:</label>
                <input class="input_text_insert" type="text" value="{{user.address}}" id="address" name="address">

                <label for="avatar" class="mt-2 d-block mb-1">Avatar:</label>
                <input type="file" id="avatar" name="avatar" class="mb-3">

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <input class="input_submit_insert" type="submit" value="CẬP NHẬT">
            </form>
        </div>
        </div>
    </div>
    </div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    var panelW3 = this.nextElementSibling;
    if (panelW3.style.display === "block") {
      panelW3.style.display = "none";
    } else {
      panelW3.style.display = "block";
    }
  });
}
</script>
{{>footer}}